textblob
aws-requests-auth
boto3==1.37.18
requests
pillow  
yfinance 
pandas 
frozendict
opensearch-py
botocore
awscli
retrying
ragas>=0.1.22
langchain-community>=0.3.27
ipywidgets
iprogress
s3fs
pypdf
tqdm
pandas
haystack-ai
events
pydub
